<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>add student to course</title>
<link rel="stylesheet" type="text/css" th:href="@{/resources/style.css}"></link>
</head>
<body>
	<form method="POST" th:action="@{/5}">
		<input type="text" th:name="studentId" placeholder="Enter ID"   />
		 <select
			th:name="course">
			<option value="English">English</option>
			<option value="Mandarin">Mandarin</option>
			<option value="Hindi">Hindi</option>
			<option value="Spanish">Spanish</option>
			<option value="French">French</option>
			<option value="Arabic">Arabic</option>
			<option value="Bengali">Bengali</option>
			<option value="Russian">Russian</option>
			<option value="Portuguese">Portuguese</option>
			<option value="Ukrainian">Ukrainian</option>
		</select> <input type="submit" value="Add" />
		
	</form>
</body>
</html>