<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org">
<head>
<title>remove course</title>
<link rel="stylesheet"
type="text/css"
th:href="@{/resources/style.css}"></link>
</head>
<body>
<h1>Choose a course you want to delete student <span th:text = "${id}">studentId</span> from</h1>
	
	<form action = "#" method="POST" th:action="@{/next6/}" th:object = "${courses}">
	<input type = "hidden" name="id" th:value = "${id}" />
		<select name = "course" th:object="${courses}">
			<option th:each="course : ${courses}" th:value="${course}" th:name = "${course}"
				th:text="${course}"></option>
		</select>
		 <input type="submit" value="remove from this course" />
		</form>
	
	
	
</body>
</html>